.nav_menu{ margin:auto;height:42px; background:url("../img/menu.png") repeat-x; border-radius: 2px;}
.nav_menu .menu a{ display:block;_display:inline-block;color:#fff;height:42px;line-height:42px;padding:0 9px;}
.nav_menu .menu ul li:last-first{ padding-left:40px;}

.menu li{ float:left;font:normal 16px/26px "Microsoft YaHei";height:42px;list-style: none;padding-right: 15px;}
.menu {padding-left: 5px;}
.menu a:hover{ text-decoration: none;background:#900}
.menu .parting{ width:12px;background:url( y.png) no-repeat 7px -980px;_width:2px;_background:url( y.png) no-repeat 0 -981px;}

.clearfix { display:block;*display:inline-block;}
.clearfix:after { content:".";display:block;height:0;clear:both;visibility:hidden;}


.slidnr {
width: 763px;
height: 389px;
margin: 0 auto;
position: relative;
border: 1px solid #eee;
border-top: 0;
background: #FFF;
}